.matchBanner__rectangle_icon {
    position: absolute;
    z-index: 1;
}

.matchBanner__rectangle_icon:nth-child(1) {
    transform: translate(-55%, -8%);
}

.matchBanner__rectangle_icon:nth-child(2) {
    transform: translate(0%, 67%);
    display: block;
}

@media only screen and (min-width: 768px) {
    .matchBanner__rectangle_icon:nth-child(1) {
        transform: translate(0%, -18%);
    }

    .matchBanner__rectangle_icon:nth-child(2) {
        display: none;
    }
}

@media only screen and (min-width: 1024px) {
    .matchBanner__rectangle_icon:nth-child(1) {
        transform: translate(-13%, -3%);
    }

    .matchBanner__rectangle_icon:nth-child(2) {
        transform: translate(80%, 24%);
        display: block;
    }

    .matchBanner__text {
        transform: translateX(50px);
    }
}

@media only screen and (min-width: 1440px) {
    .matchBanner__rectangle_icon:nth-child(1) {
        transform: translate(0%, 0%);
    }
    .matchBanner__rectangle_icon:nth-child(2) {
        transform: translate(106%, 25%);
        display: block;
    }
}
